.white-text {
    color: rgba(255, 255, 255, 0.788);
}

/* --- pre-nav --- */
.pre-nav{
    position: fixed;
    height: 50px;
    line-height: 50px;
}

.pre-nav .container .row {
    position: relative;
}

.logo-s {
    position: absolute;
    right: 0;
    width: 100px;
}
/* --- pre-nav --- */

/* --- nav --- */
nav{
    margin-top: 50px;
}

.only-lg{
    display: none;
}

.navbar{
    flex-wrap: nowrap;
}
/* --- nav --- */

/* --- returnal --- */
.jumbo{
    margin-top: 110px;
    height: 650px;
    background: url(../img/jumbo-bg.png);
    background-position-x: center;
    background-position-y: top;
    background-repeat: no-repeat;
    position: relative;
}

.rompi{
    position: absolute;
    bottom: 0;
    left: 0;    
}

/* --- returnal --- */

/* --- returnal --- */
.quadr img{
    border-radius: 20px;
    

}
/* --- returnal --- */




/* --- responsive --- */

@media only screen and (min-width: 992px){
    nav button {
        display: none;
    }
    .only-lg{
        display: inline-block;
        flex-grow: 1;
    }

    .navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
        justify-content: flex-start;
    }

}